    body {
      font-family: Inter;
      font-size: 20px;
      color: black;
    }

    p {
      font-family: Inter;
      font-weight: 300;
      line-height: 100%;
      font-size: 1.2rem;
    }


    h1,
    h2,
    h3,
    h4 {
      font-family: Inter;
      color: black;
    }

    h1 {
      font-family: MuseoModerno;
      font-size: 140px;
      color: #B02785;
    }

    h2 {
      font-size: 40px;
      color: black;
    }

    h3 {
      line-height: 3rem;
      color: black;
    }

    .trans-pink {
      color: #B02785;
    }

    .bg-trans-pink {
      background-color: #B02785;
    }

    .logo {
      position: absolute;
    }

    .img-heading-title,
    .carpeta {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      max-width: 100vw;
    }

    nav.portada-nav {
      display: flex;
      position: absolute;
      z-index: 3;
      right: 60px;
      top: 160px;
    }

    nav.portada-nav ul {
      margin-left: auto;
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: 50px;
    }

    .nav-item-portada {
      color: #000 !important;
      font-family: Inter !important;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-decoration: none;
    }

    .circle-button {
      font-family: MuseoModerno;
      font-size: 2rem;
      background-color: black;
      padding: 0.5rem;
      border-radius: 75px;
      height: 5rem;
    }

    .transparent-button {
      font-family: Inter;
      color: white;
      font-size: 2rem;
      border: solid 1px white;
      background-color: transparent;
      padding: 0.5rem 1rem;
      border-radius: 75px;
      height: 5rem;
      width: fit-content;
      height: fit-content;
    }

    .transparent-button a {
      font-size: 1.4rem;
    }

    .transparent-button.black {
      color: black;
      border: solid 1px black;
    }

    .transparent-button.black a {
      color: black;
      background-color: transparent;
    }

    .circle-button a {
      font-family: MuseoModerno;
      font-size: 2rem;
      margin: 0;
    }

    hr {
      border-color: #606060;
      border-width: 2px;
      width: 90vw;
      align-items: center;
      position: relative;
      left: 5vw;
    }

    .hr-styled {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .box-logo-preview {
      border-top: solid 2px #606060;
      padding-top: 1rem;
    }

    .box-logo-preview::before {
      display: block;
      content: '';
      background: url('images/flechas.svg');
      height: 39px;
      width: 39px;
      margin-bottom: 1rem;
    }